name: Build and Test Coverage

on:
  pull_request:
    branches:
      - main
      - '**'

env:
  PROJECT_DIR: Lab1_2

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache Gradle dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ hashFiles('**/*.gradle*', '**/gradle.properties', '**/gradle-wrapper.properties') }}
          restore-keys: |
            gradle-

      - name: Grant execute permission for Gradlew
        run: chmod +x ./${{ env.PROJECT_DIR }}/gradlew

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v3
        with:
          build-root-directory: ${{ env.PROJECT_DIR }}
          cache-disabled: true
          generate-job-summary: false

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: test-coverage-report
          path: ${{ env.PROJECT_DIR }}build/reports/coverage/index.html
